body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    text-align: center;
  }

  p {
    color: rgb(163, 0, 0);
    text-align: center;
  }

  img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    animation: example 6s infinite;
    
  }

  @keyframes example {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);}
  }